# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

.DS_Store

WinAES.ncb

WinAES.suo

WinAES/WinAES.vcproj.FATLYZ-S2003-VM.fatlyz.user
